root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.{html,xml,yaml}]
indent_size = 2

[*.md]
max_line_length = 2147483647
trim_trailing_whitespace = false

[*.{html,xml}]
ij_xml_space_inside_empty_tag = true
resharper_space_before_self_closing = true
